:root {
	--brown-transparent-background: rgba(113, 58, 42, 0.45);
	--black-transparent-background: rgba(0, 0, 0, 0.65);
	--lettertxt-color: rgba(0, 0, 0, 0.61);
	--letter-shadow-color: rgba(0, 0, 0, 0.25);
	--background-color: rgba(255, 255, 255, 1);
	--text-color: rgb(240, 96, 48);
	--nav-color: rgba(181, 90, 39, 0.16);
}

body {
    margin: 0px;
    padding: 0%;
}

.home {
    background-color: rgba(245, 245, 245, 1);
    width: auto;
    height: 100vh;
    display: flex;
	flex-direction: column;  
}

.userInfo{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 30px 30px;
    padding: 20px;
}

.userName {
    color: var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.photoUser {
    border-radius: 50%;
    height: 96px;
    width: 96px;
    margin-right: 10px;
}

.authorPhoto {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.postTextBox {
    margin-left: auto;
    margin-right: auto;
}

.inputPublish {
    display: flex;
    border: transparent;
    width: 75vw;
    height: 13vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
    background-color: var(--background-color);
}

.inputPublish::placeholder {
    color: var(--lettertxt-color);
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 20px;
}

.items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 30px 0px 30px;
    width: 75vw;
    height: 5vh;
    padding: 0px 15px 0px 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--nav-color);
    border-radius: 0px 0px 15px 15px;
}

.like {
    width: 50px;
    height: 50px;
}

.menuBar {
    bottom: 0px;
    position: fixed;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 10px 0px 5px 12px;
}

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nav-color);
    border-radius: 15px;
    height: 4vh;
    width: 80vw;
    padding: 10px;
}

.iconBar {
	cursor: pointer;
}

@media (min-width: 900px) {
    body {
        margin-top: 0px
    }

    .home {
        background-color: rgba(245, 245, 245, 1);
        width: 0;
        height: 1000vh;
    }

    .contacts {
        display: inline;
    }

    .userInfo{
        height: 10vh;
        width: 70vw;
        margin: 30px 0px 30px 200px;
        /* margin: 30px 10px 30px 120px; */
        padding: 20px;
    }

    .userName {
        color: var(--text-color);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .photoUser {
        border-radius: 50%;
    }

    .postTextBox {
        margin: 100px;
        width: 85vw;
        height: 20vh;
    }
    
    .navBar {
        display: flex;
        flex-direction: column;
        background-color: var(--nav-color);
        height: 1024px;
        width: 40px;
        border-radius: 0%;
        margin-top: 0%;
        margin-bottom: auto;
        margin-left: 0%;
    }

    .iconBar {
        cursor: pointer;
    }

}