:root {
	--brown-transparent-background: rgba(113, 58, 42, 0.45);
	--black-transparent-background: rgba(0, 0, 0, 0.65);
	--lettertxt-color: rgba(0, 0, 0, 0.61);
	--letter-shadow-color: rgba(0, 0, 0, 0.25);
	--background-color: rgba(255, 255, 255, 1);
	--text-color: rgb(240, 96, 48);
	--nav-color: rgba(181, 90, 39, 0.16);
}

body {
	margin: 0px;
}

.home {
	background-color: rgba(245, 245, 245, 1);
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.centerPost {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.userInfo {
	width: 80vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0px 10px 30px 10px;
	padding: 20px;
}

.userName {
	color: var(--text-color);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding-right: 15px;
}

.photoUser {
	border-radius: 50%;
	height: 96px;
	width: 96px;
}

.authorPhoto {
	border-radius: 50%;
	height: 35px;
	width: 35px;
	margin: 6px;
}

.postTextBox {
	margin-left: auto;
	margin-right: auto;
}

.inputPublish {
	display: flex;
	border: transparent;
	width: 75vw;
	height: 13vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0%;
	padding: 15px;
	border-radius: 15px 15px 0px 0px;
	background-color: var(--background-color);
}

.inputPublish::placeholder {
	color: var(--lettertxt-color);
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-size: 20px;
}

.items {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0px 30px 0px 30px;
	width: 75vw;
	height: 5vh;
	padding: 0px 15px 0px 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--nav-color);
	border-radius: 0px 0px 15px 15px;
}

.menuBar {
	bottom: 0px;
	position: fixed;
	margin-bottom: 30px;
}

.navBar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--nav-color);
	border-radius: 15px;
	height: 4vh;
	width: 80vw;
	padding: 10px;
}

.iconBar {
	cursor: pointer;
}

/* Ocultar opciones de edicion de una publicacion */
.hidde {
	display: none;
}

/* Mostrar opciones de edicion de una publicacion */
.show {
	display: flex;
	flex-direction: column;
}

/* Alinear contenedor de posts */
.postContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Post */
.publication {
	display: flex;
	flex-direction: column;
	border: transparent;
	width: 80vw;
	background: var(--background-color);
	border-radius: 15px;
	margin-top: 15px;
}

/* Alinear horizontal cabecera de post */
.headPublication {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* Alinear horizontal nombre y foto del creador del post */
.photoAndName {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*  Alinear verticalmente nombre de creador del post y fecha del post */
.authorN {
	display: flex;
	flex-direction: column;
}

/* Alinear icono de editar post */
.fa-ellipsis-vertical {
	margin-right: 8px;
}

/* Estilo a texto del post */
.bodyPublication {
	margin-left: 49px;
	margin-right: 15px;
	margin-bottom: 12px;
}

/* Alinear pie del post */
.footPublication {
	display: flex;
	flex-direction: row;
	margin-left: 49px;
	margin-bottom: 10px;
}

/* Iconos de post */
.fa-heart,
.fa-comment,
.fa-paper-plane {
	padding-right: 4px;
}

/* Estilo a contadores de likes, comentarios y compartidos */
.accountant {
	padding-right: 8px;
}

/* Contenedor el modal */
.containerModal {
	background-color: rgba(0, 0, 0, 0.7);
	align-items: center;
	justify-content: center;
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	opacity: 0; /* OCULTAR MODAL AL INICIO */
}

/* Modal */
.modal {
	background-color: rgb(255, 255, 255);
	width: 350px;
	max-width: 100%;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Mostrar modal */
.showModal {
	pointer-events: auto;
	opacity: 1;
	z-index: 2;
}

.btnsModal {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* Botones del modal */
#yes,
#not {
	background-color: var(--text-color);
	color: rgb(255, 255, 255);
	border-radius: 30px;
	width: 40%;
	margin-bottom: 10px;
	font-size: 110%;
}

/* Mensaje del modal */
.messageModal {
	font-size: 150%;
	text-align: center;
}

/* ---------------------------------- Media Query para pantallas a partir de 600px ---------------------------------- */
@media (min-width: 600px) {
	.home {
		background-color: rgba(245, 245, 245, 1);
		width: 100vw;
		flex-direction: row;
	}

	.userInfo {
		width: 70vw;
		justify-content: space-around;
	}

	.userName {
		color: var(--text-color);
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
			'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}

	.photoUser {
		border-radius: 50%;
	}

	.postTextBox {
		height: 300px;
		width: 100vw;
	}

	.navBar {
		display: flex;
		flex-direction: column;
		background-color: var(--nav-color);
		height: 100vh;
		width: 40px;
		border-radius: 0%;
		margin-top: 0%;
		margin-bottom: auto;
		margin-left: 0%;
	}

	.menuBar {
		height: 100vh;
		justify-content: flex-start;
		margin-bottom: 0px;
	}

	.iconBar {
		cursor: pointer;
	}
}
